@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menuWidth {
    width: 230px;
  }

  .timlineWidth {
    width: 620px;
  }

  .userBarWidth {
    width: 300px;
  }

  .interLocutorsWidth {
    width: 350px;
  }

  .chooseUserWidth {
    width: 570px;
  }

  .exhibitWidth {
    width: 920px;
  }

  .mideumExhibitWidth {
    width: 620px;
  }

  .mideumPointWidth {
    width: 620px;
  }
}
